.current-weather-card .wrapper {
  margin-block: 1.2rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.current-weather-card .weather-icon {
  margin-inline: auto;
}
.current-weather-card > .body-3 {
  text-transform: capitalize;
}
.current-weather-card .meta-list {
  margin-block-start: 1.6rem;
  padding-block-start: 1.6rem;
  border-block-start: 1px solid var(--outline);
}
.current-weather-card .meta-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.current-weather-card .meta-item:not(:last-child) {
  margin-block-end: 1.2rem;
}
.current-weather-card .meta-text {
  color: var(--on-surface-variant);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .weather-icon {
    width: 6rem;
  }
}
